html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 230, 230);
    margin: 0;
}

#coy {
    font-family: 'Dancing Script', cursive;
}

.navbar-text {
    background-color: red;

}

.navbar {
    padding: 0;
    background-color: rgba(25, 26, 30, 0.87);
    margin: 0;
}

.nav-item {
    padding-left: 15px;
}

.navbar-brand {
    padding-left: 15px;
    margin-right: 0px;
}

#hero-image {
    position: relative;
    margin: 0;
}

#hero-mimage {
    background-image: url(images/m-main.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
}

#trial {
    color: white;
    background-color: red;
    position: relative;
    top: 300px;
    left: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#about {
    background-color: white;
    margin: 0;
    padding: 45px 10px 15px 10px;
}

#about-image {
    background-image: url(images/aboutus.png);
    width: 300px;
    height: 420px;
    background-size: cover;
    position: absolute;
    transform: translate(-80px, 10px);
}

#about h1 {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


#instructors {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px 0 30px 0;
}

#instructors h1 {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 15px;
}

#i-content {
    background-color: rgba(255, 255, 255, 0);
}

#i-content>div {
    background-color: rgb(253, 140, 140);
    width: 380px;
    height: 730px;
    margin: 15px;
    text-align: center;
}


.i-images {
    width: 200px;
}

.row {
    margin: 0;
}

#instructors h2 {
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
}

#instructors h4 {
    padding: 10px;
}

#courses {
    text-align: center;
    width: auto;
    padding-top: 30px;
}

#courses h1 {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
}

.nav-link.active {
    color: white !important;
    background-color: rgb(50, 50, 50) !important;
}

#courses .nav-link {
    color: black;
    border-color: black;
}

.btn-danger {
    background-color: red;
}

#register {
    padding-top: 50px;
}

#form {
    background-color: white;
}

#form-heading {
    padding: 10px 0 10px 0;
}

#register .form-p {
    padding: 0 20px 0 20px;
}

#s-button {
    margin: 20px 0 20px 20px;
}

#contact h1 {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 30px;
}

#contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

#map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

#map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footer {
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
    font-size: 15px;
    padding: 6px;
}

.footer img {
    width: 30px;
    padding: 3px;
}

#schedule {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
    width: auto;
}

#schedule h1 {
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#s-header {
    background-color: black;
}

.text-truncate {
    overflow: auto;
    text-overflow: unset;
}

@media (min-width: 1024px) {
    #about {
        margin: 80px 21% 80px 21%;
    }

    #instructors {
        background-color: white;
        margin-top: 20px;
        padding-bottom: 50px;
        padding-top: 40px;
    }

    #form {
        margin: 20px 20% 50px 20%;
        background-color: rgb(245, 245, 245);
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    #register {
        background-color: white;
        padding-bottom: 30px;
    }
    #contact {
        margin: 20px 15% 50px 15%;
        text-align: center;
    }
    #c-details {
        flex-direction: row !important;
    }
    .footer img {
        width: 40px;
        padding: 5px;
    }
    #schedule {
        padding: 80px;
        background-color: rgb(255, 230, 230);
    }
}

@media (max-width: 768px) {
    #about-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    #courses {
        background-color: white;
    }
    .container {
        max-width: 768px;
    }
    #c-details {
        flex-direction: column;
    }

    .footer {
        justify-content: center;
    }
    .phone {
        margin-left: -10px;
    }
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}



@media (min-width: 992px) {
    .s-media {
        margin-left: auto;
        padding-right: 10px;
    }
    #about-content {
        padding-left: 260px;
        padding-right: 20px;
    }
    #courses {
        margin: 0 15% 30px 15%;
        padding-top: 20px;
    }
}


.bg-primary {
    background-color: rgb(0, 141, 223) !important;
}

a.bg-primary:hover {
    background-color: rgb(2, 115, 180) !important;
}


.bg-success {
    background-color: rgb(240, 58, 158) !important;
}

a.bg-success:hover {
    background-color: rgb(184, 47, 122) !important;
}

.bg-info {
    background-color: rgb(0, 114, 180) !important;
}

a.bg-info:hover {
    background-color: rgb(1, 92, 145) !important;
}

.bg-secondary {
    background-color: rgb(214, 52, 141) !important;
}

a.bg-secondary:hover {
    background-color: rgb(175, 43, 116) !important;
}

.day .bg-dark {
    background-color: rgb(0, 94, 148) !important;
}

.day a.bg-dark:hover {
    background-color: rgb(1, 69, 109) !important;
}

.bg-danger {
    background-color: rgb(202, 40, 129) !important;
}

a.bg-danger:hover {
    background-color: rgb(170, 41, 112) !important;
}

.bg-warning {
    background-color: rgb(170, 255, 67) !important;
}

a.bg-warning:hover {
    background-color: rgb(144, 231, 37) !important;
}

.bg-transparent {
    background-color: rgb(152, 236, 49) !important;
}

a.bg-transparent:hover {
    background-color: rgb(152, 221, 67) !important;
}

.bg-white {
    background-color: rgb(146, 228, 46) !important;
}

a.bg-white:hover {
    background-color: rgb(136, 207, 49) !important;
}
